# Ignore compiled code and build artifacts
*.class
*.jar
*.war
*.ear
target/
bin/
build/
*.log


# Ignore IDE-specific files
/.idea/
/.vscode/
*.iml

# Ignore WebDriver binaries (these should be installed separately or managed using a dependency manager)
webdriver/

# Ignore browser driver logs and temporary files
geckodriver.log
geckodriver.log.*
geckodriver.log.*

chromedriver.log
chromedriver.log.*
chrome-pool/

# Ignore test output files
test-output/

# Ignore any environment-specific configuration files
.env

# Ignore any OS-specific or editor backup files
.DS_Store
Thumbs.db
*.bak
*~

# Ignore any generated or temporary files
*.tmp

# Ignore any dependencies and build-related files
node_modules/
package-lock.json
yarn.lock
